$backgroundColor: #282c34;
// colors var
$mainColor: #0e44ff;
$secondaryColor: #ffffff;
$textColor: #565656;
$borderColor: #B8B8B8;

// font-size var
$fs1: 24px;
$fs2: 28px;
$fs3: 18px;
$fs4: 14px;
$fs5: 12px;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $backgroundColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.calendar {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #0e44ff 0%, #3083fe 51%, #57cafd 75%);
  padding: 20px 15px;
  color: $secondaryColor;
  font-size: $fs2;

  > div {
    padding: 10px 0;
  }

  .language {
    font-size: $fs5;
    text-align: right;
    padding: 0;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .day-list {
    display: flex;

  }

  .day {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: $fs3;
    padding: 5px;

    .day-name {
      margin-top: 3px;
      margin-bottom: -5px;
    }

    &.active {
      border-radius: 50%;
      background: $secondaryColor;
      color: $mainColor;
    }
  }

  .day-full {
    font-size: $fs1;
    font-weight: bold;
  }
}

.weather {
  text-align: center;
  color: $textColor;

  .header {
    display: flex;
    padding: 30px 0;
    font-size: $fs3;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .temp-current {
      font-size: $fs1;
      font-weight: bold;
      color: black;
    }

    .extremes {
      display: flex;
      font-weight: bold;

      > div {
        flex: 1;
      }

      .text {
        font-weight: normal;
        font-size: $fs5;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .stats {
    display: flex;

    > div {
      flex: 1;
    }

    .value {
      font-weight: bold;
    }

    .middle {
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
    }
  }
}

.Events {
  margin-top: 15px;
  padding: 20px;
  color: $textColor;

  .Event {
    display: flex;
    margin: 10px 0;
    align-items: center;

    img {
      box-shadow: 1px 1px 15px darken($borderColor, 7%);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-right: 25px;
    }
  }
}


.App {
  background: $secondaryColor;
  font-size: $fs3;
  line-height: 1.40em;
}

